*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: url(/img/plantillapuntitos.jpg);
}

.contenedor{
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
}

.logo{
    text-align: center;
    margin-top: 20px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.header{
    text-align: center;
    background: linear-gradient(0.25turn, #adadad, pink, #adadad);
    margin-top: 30px;
    margin-bottom: 30px;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.header header nav ul{
    padding-left: 0;
}

.header header nav ul li{
    display: inline;
    padding: 40px;
}

.header header nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 54, 102);
    font-size: x-large;
}

.header header nav ul li a:hover{
    color: rgb(255, 93, 120);
}

.titulo{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo h1{
    background: radial-gradient(pink, #adadad);
    padding: 20px;
    border: 3px groove rgb(255, 56, 89);
    outline: 3px groove rgb(255, 56, 89);
    outline-offset: 3px;
}

.email{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    border: 3px solid rgb(255, 56, 89);
    background: radial-gradient(pink, #adadad);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 330px;
}

.telefono{
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid rgb(255, 56, 89);
    background: radial-gradient(pink, #adadad);
    padding: 20px;
    width: 330px;
}

.ubicacion{
    grid-row: 4 / 5;
    grid-column: 3 / 4;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid rgb(255, 56, 89);
    background: radial-gradient(pink, #adadad);
    padding: 20px;
    width: 330px;
}

.formulario{
    grid-row: 5 / 6;
    grid-column: 1 / 4;
    margin-top: 60px;
    margin-bottom: 40px;
}

.formulario p{
    background: linear-gradient(0.25turn, #adadad, pink, #adadad);
    border: 3px solid rgb(255, 56, 89);
    width: fit-content;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

.formulario label{
    margin-left: 20px;
    margin-bottom: 20px;
    
}

.enviar,
.reset{
    margin-left: 20px;
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(255, 56, 89);
    border: 1px solid;
    border-radius: 5%;
}

.bot-menu{
    grid-row: 6 / 7;
    grid-column: 1 / 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.bot-menu ul{
    padding-left: 0;
}

.bot-menu ul li{
    display: inline;
}

.bot-menu ul li a{
    text-decoration: none;
    color: rgb(0, 54, 102);
    font-weight: bold;
    padding: 10px;
}

.bot-menu ul li a:hover{
    color: rgb(255, 93, 120);
}

.ayuda{
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
}

.ayuda button{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: rgb(0, 54, 102);
}

.ayuda button a{
    text-decoration: none;
    color: white;
}

.ayuda button a:hover{
    color: rgb(255, 93, 120);
}

.redesSociales{
    grid-row: 6 / 7;
    grid-column: 3 / 4;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.redesSociales a{
    padding: 10px;
}

.redesSociales a:hover{
    background-color: rgb(255, 93, 120);
}

@media screen and (max-width: 768px) {
    
    .logo{
        grid-row: 1 / 2;
    }
    .header{
        grid-row: 2 / 3;
    }
    .titulo{
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }
    .email{
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }
    .telefono{
        grid-row: 5 / 6;
        grid-column: 2 / 3;
    }
    .ubicacion{
        grid-row: 6 / 7;
        grid-column: 2 / 3;
    }
    .formulario{
        grid-row: 7 / 8;
        grid-column: 2 / 3;
    }
    .bot-menu{
        grid-row: 8 / 9;
        grid-column: 1 / 3;
    }
    .ayuda{
        grid-row: 8 / 9;
        grid-column: 3 / 4;
    }
    .redesSociales{
        grid-row: 9 / 10;
        grid-column: 1 / 4;
    }
    .redesSociales a{
        padding: 30px;
    }
}