*{
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-image: url(/./img/plantillapuntitos.jpg);

}

.contenedor{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto 100px;
    width: 100%;
}

.logo{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    margin-top: 20px;
}

.header{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    background: linear-gradient(0.25turn, #adadad, pink, #adadad);
    margin-top: 30px;
}

.header header nav ul{
    padding-left: 0;
}

.header header nav ul li{
    display: inline;
    padding: 40px;
}

.header header nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 54, 102);
    font-size: x-large;
}

.header header nav ul li a:hover{
    color: rgb(255, 93, 120);
}

.contenedor-turnos{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

.pediTurno h2{
    color: #333;
    background-color: pink;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5%;
    outline: 5px solid rgb(255, 93, 120);
    outline-offset: 3px;
    font-size: xx-large;
}

.clickAqui{
    margin-top: 70px;
}

.clickAqui button{
    height: 100px;
    width: 100px;
    background-color: pink;
    border-radius: 50%;
    border: none;
    outline: 3px dashed rgb(255, 93, 120);
    outline-offset: 3px;
}

.clickAqui button a:hover{
    color: rgb(255, 93, 120);
}

.clickAqui button a{
    text-decoration: none;
    color: rgb(0, 54, 102);
    font-weight: bold;
    font-size: larger;
}

.perrita{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    animation-name: perrita;
    animation-duration: 8s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 340px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes perrita {
    0%{
        opacity: 0.8;
        outline: 3px dotted rgb(255, 93, 120);
        outline-offset: 3px;
    }
    50%{
        opacity: 1;
        outline: 3px dotted rgb(121, 0, 20);
        outline-offset: 3px;
    }
    100%{
        opacity: 0.8;
        outline: 3px dotted rgb(255, 93, 120);
        outline-offset: 3px;
    }
}

.texto{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    margin-top: 40px;
    background: linear-gradient(pink, #adadad);
    height: min-content;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px 0 15px;
    color: #333;
    border: rgb(255, 93, 120) groove 3px;
    border-radius: 5%;
}

.texto p{
    margin-top: 50px;
}

.ruben{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 355px;
    width: 300px;
    animation-name: ruben;
    animation-duration: 8s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ruben {
    0%{
        opacity: 0.8;
        outline: 3px dotted rgb(255, 93, 120);
        outline-offset: 3px;
    }
    50%{
        opacity: 1;
        outline: 3px dotted rgb(121, 0, 20);
        outline-offset: 3px;
    }
    100%{
        opacity: 0.8;
        outline: 3px dotted rgb(255, 93, 120);
        outline-offset: 3px;
    }
}

.ruben img,
.perrita img{
    outline: 3px dotted rgb(255, 93, 120);
    outline-offset: 3px;
}

.bot-menu{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.bot-menu ul{
    padding-left: 0;
}

.bot-menu ul li{
    display: inline;
}

.bot-menu ul li a{
    text-decoration: none;
    color: rgb(0, 54, 102);
    font-weight: bold;
    padding: 10px;
}

.bot-menu ul li a:hover{
    color: rgb(255, 93, 120);
}

.ayuda{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
}

.ayuda button{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: rgb(0, 54, 102);
}

.ayuda button a{
    text-decoration: none;
    color: white;
}

.ayuda button a:hover{
    color: rgb(255, 93, 120);
}

.redesSociales{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.redesSociales a{
    padding: 10px;
}

.redesSociales a:hover{
    background-color: rgb(255, 93, 120);
}



@media screen and (max-width: 768px) {
    
    .logo{
        grid-row: 1 / 2;
    }
    .header{
        grid-row: 2 / 3;
    }

    .contenedor-turnos{
        grid-row: 3 / 4;
        margin-bottom: 30px;
    }
    .ruben{
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }
    .texto{
        grid-row: 5 / 6;
        grid-column: 2 / 3;
        
    }
    .perrita{
        grid-row: 6 / 7;
        grid-column: 2 / 3;
        margin-top: 270px;
    }
    .bot-menu{
        grid-row: 7 / 8;
        grid-column: 1 / 3;

    }
    .ayuda{
        grid-row: 7 / 8;
        grid-column: 3 / 4;
        justify-content: left;
        align-items: left;
        transform: translateX(-30px);
    }
    .redesSociales{
        grid-row: 8 / 9;
        grid-column: 1 / 4;
    }
    .redesSociales a{
        padding: 30px;
    }
}