*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    background-image: url(../img/plantillapuntitos.jpg);
}

.contenedor{
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.logo{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    margin-top: 20px;
}

.header{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    background: linear-gradient(0.25turn, #adadad, pink, #adadad);
    margin-top: 30px;
}

.header header nav ul{
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header header nav ul li{
    display: inline;
    padding: 40px;
}

.header header nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 54, 102);
    font-size: x-large;
}

.header header nav ul li a:hover{
    color: rgb(255, 93, 120);
}

.titulo{
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3 / 4;
    grid-column: 2 / 5;
}

.titulo h1{
    background: radial-gradient(pink, #adadad);
    border: 3px solid rgb(255, 93, 120);
    padding: 15px;
}

.preguntas{
    grid-row: 4 / 5;
    grid-column: 2 / 5;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.preguntas label{
    font-size: large;
    display: flex;
}

.preguntas .enviar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(0, 54, 102);
    transform: translateX(-80px);
}

.preguntas .enviar a{
    text-decoration: none;
    color: white;
}

.preguntas .enviar a:hover{
    color: rgb(255, 93, 120);
}

.preguntas textarea{
    transform: translateX(-50px);
}

.bot-menu{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;
}

.bot-menu ul{
    padding-left: 0;
}

.bot-menu ul li{
    display: inline;
}

.bot-menu ul li a{
    text-decoration: none;
    color: rgb(0, 54, 102);
    font-weight: bold;
    padding: 10px;
}

.bot-menu ul li a:hover{
    color: rgb(255, 93, 120);
}

.ayuda{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 50px;
}

.ayuda button{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: rgb(0, 54, 102);
}

.ayuda button a{
    text-decoration: none;
    color: white;
}

.ayuda button a:hover{
    color: rgb(255, 93, 120);
}

.redesSociales{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 6;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;
}

.redesSociales a{
    padding: 10px;
}

.redesSociales a:hover{
    background-color: rgb(255, 93, 120);
}

@media screen and (max-width: 768px) {
    
    .logo{
        grid-row: 1 / 2;
    }
    .header{
        grid-row: 2 / 3;
    }
    .titulo{
        grid-row: 3 / 4;
    }
    .preguntas{
        grid-row: 4 / 5;
        transform: translateX(20px);
    }
    .preguntas .enviar{
        transform: translateX(-30px);
    }
    .preguntas label{
        transform: translateX(-20px);
    }
    .bot-menu{
        grid-row: 5 / 6;
        grid-column: 1 / 4;

    }
    .ayuda{
        grid-row: 5 / 6;
        grid-column: 4 / 6;
        transform: translate(-50px, 15px)
        }
    .redesSociales{
        grid-row: 6 / 7;
        grid-column: 1 / 6;
    }
    .redesSociales a{
        padding: 30px;
    }
}





