.turnos {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
    .pediTurno{
        h2 {
            color: #333;
            background: rgb(255,192,203);
            background: linear-gradient(0deg, rgba(255,192,203,1) 0%, rgba(173,173,173,1) 100%);
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            border-radius: 5%;
            outline: 3px solid $darkPink;
            outline-offset: 2px;
            font-size: xx-large;
        }
    }
    .clickAqui{
        margin-top: 70px;
        .btn{
            height: 100px;
            width: 100px;
            background: rgb(255,192,203);
            border-radius: 50%;
            border: none;
            outline: 3px dashed $darkPink;
            outline-offset: 3px;
            a{
                text-decoration: none;
                color: $linkBlue;
                font-weight: bold;
                font-size: larger;
                &:hover{
                    color: $darkPink
                }
            }
        }
    }
}

.perrita{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    animation-name: perrita;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 340px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    img{
        outline: 5px dotted $darkPink;
        outline-offset: 3px;
    }
}

@keyframes perrita {
    0%{
        opacity: 0.8;
        outline: 5px dotted $darkPink;
        outline-offset: 3px;
    }
    50%{
        opacity: 1;
        outline: 5px dotted rgb(121, 0, 20);
        outline-offset: 3px;
    }
    100%{
        opacity: 0.8;
        outline: 5px dotted $darkPink;
        outline-offset: 3px;
    }
}

.texto{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    margin-top: 40px;
    background: linear-gradient(pink, #adadad);
    height: min-content;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px 0 15px;
    color: #333;
    border-radius: 5%;
    h3{
        margin-top: 15px;
    }
    p{
        margin-top: 50px;
    }
}

.ruben{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 355px;
    width: 300px;
    animation-name: ruben;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    img{
        outline: 5px dotted $darkPink;
        outline-offset: 3px;
    }
}

@keyframes ruben {
    0%{
        opacity: 0.8;
        outline: 5px dotted $darkPink;
        outline-offset: 3px;
    }
    50%{
        opacity: 1;
        outline: 5px dotted rgb(121, 0, 20);
        outline-offset: 3px;
    }
    100%{
        opacity: 0.8;
        outline: 5px dotted $darkPink;
        outline-offset: 3px;
    }
}